<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        button {
            padding: 2px;
            cursor: pointer;
        }
        .right-pos {
            position: relative;
            float: right;
        }
        .body-div {
            width: 90%;
            height: 500px;
        }
        label {
        }
    </style>
</head>
<body>
<h1>Board Update Page</h1>
<div class="body-div">
    <div>
        <label for="update_title">Title:</label>
        <input id="update_title" name="title" value=""/>
    </div>
    <div>
        <label for="update_content">Content:</label>
        <textarea id="update_content" placeholder="Input some content." style="width: 100%; height: 300px"></textarea>
    </div>
    <div>
        <fieldset>
            <legend>Choose post's management:</legend>
            <label for="update_deleted">Delete</label>
            <input type="checkbox" id="update_deleted" />
        </fieldset>
    </div>
    <div class="right-pos">
        <button id="btn-update" onclick="upload_board();">Update</button>
        <button id="btn-cancel" onclick="cancel_update();">Cancel</button>
    </div>
</div>
<script>
    $.ajax({
        url: `/api/board/[[${id}]]`,
        type: "GET",
        beforeSend: function (xhr) {
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.setRequestHeader("Authorization", localStorage.getItem("accessToken"));
        },
        contentType: 'application/json; charset=utf-8',
        cache: false,
        success: (data, status, xhr) => {
            document.getElementById("update_title").value = data.title;
            document.getElementById("update_content").value = data.content;
            document.getElementById("update_deleted").checked = (data.deleted == "N")? false : true;
        },
        error: (data) => {
            alert(JSON.stringify(data));
        },
    })

    function cancel_update() {
        // window.location.href = 'index';
        history.back();
    }

    function upload_board() {
        let deleted = (document.getElementById("update_deleted").checked == true)? "Y" : "N";
        $.ajax({
            url: "/api/board",
            type: "PUT",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.setRequestHeader("Authorization", localStorage.getItem("accessToken"));
            },
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                'id': `[[${id}]]`,
                'title': $('#update_title').val(),
                'content': $('#update_content').val(),
                'deleted': deleted
            }),
            cache: false,
            success: (data, status, xhr) => {
                alert("data : " + JSON.stringify(data));
            },
            error: (data) => {
                alert(JSON.stringify(data));
                switch (data.status) {
                    case 403:
                        access_token();
                        break;
                }
            },
        });
    }

    function access_token() {
        $.ajax({
            url: "/api/auth/access-token",
            method: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.setRequestHeader("RefreshToken", localStorage.getItem("refreshToken"));
            },
            cache: false,
            success: (data, status, xhr) => {
                switch (xhr.status) {
                    case 200:
                        let accessToken = xhr.getResponseHeader("Authorization");
                        alert(accessToken);
                        localStorage.setItem("accessToken", accessToken);
                        break;
                    default:
                        console.log("no matching status code...")
                }
            },
            error: (data) => {
                alert(JSON.stringify(data));
                switch (data.status) {
                    case 401:
                        alert("Refresh Token이 만료되어 login창으로 이동합니다.");
                        window.location = "/user/login";
                        break;
                }
            }
        })
    }
</script>
</body>
</html>