<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Index Page</h1>
<p>Welcome to my simple CRUD application.</p>
<h2>Board</h2>
<p>Board search with scroll, =>  <a href="/board/scroll">here</a> <br><br>
    Board basic search, =>  <a href="/board/list">here</a> <br>
Board search with paging, =>  <a href="/board/page">here</a> <br>
Board Posting, =>  <a href="/board/create">here</a>. </p>
<h2>User</h2>
<p>User list page => <a href="/user/list">here</a>
    <br>User detail page, =>  <a href="/user/detail">here</a> <br>
    User create page, =>  <a href="/user/create">here</a> <br>
</p>
</body>
</html>